<div>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="container__box">
      <div class="container__box__banner">
        <p class="container__box__banner__tituloPrincipal">
          As melhores vagas para profissionais de tecnologia
        </p>
        <p class="container__box__banner__paragrafo">
          Cadastre-se e comece sua experiência com a Geek
        </p>
        <a href="/cadastro">
          <button class="container__box__banner__button">
            <a>Criar perfil gratis</a>
          </button>
        </a>
        <p>
          Você é empresa?
          <a href="/cadastro" class="cointainer__box__banner__link">
            Contrate os melhores profissionais tech!
          </a>
        </p>
      </div>
      <div class="container__box__banner__imagemBox">
        <img
          class="container__box__banner__imagem"
          src="https://img.freepik.com/fotos-gratis/tela-vazia-branca_1194-7555.jpg?w=2000"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="empresasContrataramBox">
    <div class="empresasContrataramBox__container">
      <div>
        <p>ALGUMAS EMPRESAS QUE JA CONTRATARAM COM A GENTE</p>
      </div>
      <div class="empresasContrataramBox__container__conteudo">
        <div class="empresasContrataramBox__container__conteudo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/75/75519.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/75/75519.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/75/75519.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/75/75519.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/75/75519.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="numerosPodemDizerMaisBox">
    <div class="numerosPodemDizerMaisBox__conteudo">
      <p class="numerosPodemDizerMaisBox__conteudo__paragrafo">
        OS NÚMEROS PODEM DIZER MAIS
      </p>
      <div class="numerosPodemDizerMaisBox__conteudo2">
        <p>
          A Gente.... é eficiente para
          <strong> profissionais de tecnologia </strong> e
          <strong> empresas</strong>
        </p>
      </div>
    </div>
    <div class="CardOportunidades">
      <div class="CardOportunidade_container">
        <div class="CardOportunidade__container__Title">
          <p>+5 mil</p>
        </div>
        <div class="CardOportunidade__container__subTitle">
          <p>oportunidades de trabalho</p>
        </div>
      </div>
      <div class="CardOportunidade_container">
        <div>
          <div class="CardOportunidade__container__Title">
            <p>+500</p>
          </div>
        </div>
        <div class="CardOportunidade__container__subTitle">
          <p>
            empresas <br />
            contratando
          </p>
        </div>
      </div>
      <div class="CardOportunidade_container">
        <div class="CardOportunidade__container__Title">
          <p>+130 mil</p>
        </div>
        <div class="CardOportunidade__container__subTitle">
          <p>
            convites para <br />
            entrevistas
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
